<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/demo_style.css">
    <title>HTML + CSS</title>
</head>
<body>
<header class="header">
    <h1 class="header__title">HTML and CSS - The Foundations of the Internet</h1>
</header>
<nav class="nav">
</nav>
<main>
    <section id="section1">
        <h2 class="section__title">HTML: The Backbone of the Web</h2>
        <p>HTML, or <b>H</b>yper<b>T</b>ext <b>M</b>arkup <b>L</b>anguage, was created by Tim Berners-Lee,
            the father of the World Wide Web. Initially, HTML was a simple language designed to share scientific
            documents, but it had a grand dream: to create a universal system that anyone could use
            to share information online.</p>
        <p>By 1995, HTML 2.0 emerged as the first official standard. It introduced key features like:</p>
        <ul>
            <li>Forms,</li>
            <li>Tables, and</li>
            <li>Basic multimedia support.</li>
        </ul>
        <p>The late 1990s saw the release of HTML 4.01, adding support for stylesheets (aka <i>CSS</i>) and
            improved accessibility (like alt text).</p>
    </section>
    <section id="section2">
        <h2>HTML5: The Web's Modern Foundation</h2>
        <p>The real revolution began in 2008 with the development of <b>HTML5</b>.
            Officially standardized in 2014, HTML5 was designed to meet the demands of modern web applications.</p>
        <p>HTML5 introduced a host of new features, including:</p>
        <ul>
            <li>Semantic tags (like <code>&lt;header&gt;</code> and <code>&lt;footer&gt;</code>),
                improving SEO and accessibility,</li>
            <li>Native multimedia support (like <code>&lt;video&gt;</code> and <code>&lt;audio&gt;</code>),</li>
            <li>and APIs for offline storage, geolocation, and more.</li>
            <li>Improved semantics.</li>
        </ul>
        <p>HTML5 marked the web's transition from a document-based medium to an application platform, enabling
        the creation of rich, interactive experiences.</p>
    </section>
    <section id="section3">
        <h2 class="section__title">CSS: The Web's Visual Language</h2>
        <p>CSS, or <b>C</b>ascading <b>S</b>tyle <b>S</b>heets, was introduced in 1996 by the W3C to address
            a growing need: separating a webpage's content from its design. Before CSS, styling was embedded
            directly within HTML, making it difficult to manage and update websites. (Interestingly,
            frameworks like Tailwind seem to be regressing back to the old ways of inline styles,
            albeit with a better setup.)</p>
        <ol>
            <li><b>CSS1</b> <i>(1996)</i> offered basic styling capabilities- fonts, colors, and spacing. It was
            a revolutionary step but limited in scope.</li>
            <li><b>CSS2</b> <i>(1998)</i> expanded capabilities significantly, adding support for absolute
                positioning, z-index, and media types. It enabled complex layouts and greater
                design flexibility.</li>
            <li>In <i>2011</i>, <b>CSS3</b> introduced a modular approach, allowing individual features
                to evolve independently. Key innovations included flexbox and grid layouts,
                media queries, transitions, and animations.<br>
                CSS3 empowered designers to create visually stunning, highly responsive </li>
        </ol>
    </section>
    <section id="section4">
        <h2 class="section__title">A Convergence of Power</h2>
        <p>Today, HTML and CSS continue to evolve alongside the web's dynamic needs. They are supported by
            a vast ecosystem of tools, frameworks, and libraries.</p>
        <p>The evolution of HTML and CSS is not just a tale of technological advancements–it's a testament
        to how collaboration and innovation can reshape the way we connect and interact with the world. HTML and CSS
        have grown from simple tools into the cornerstones of a digital age, shaping how we experience the internet
        today.</p>
    </section>
    <section id="section5">
        <h2 class="section__title">Demo</h2>
        <h3>HTML</h3>
        <p style="color:darkred">to Be CONTINUED</p>
    </section>

</main>
<footer class="footer">
        <p>Made with <3 by <a href="https://github.com/acemavrick" class="github-link">acemavrick</a> and
        <a href="https://github.com/tvumcc" class="github-link">tvumcc</a></p>
</footer>
</body>